$text-color: #999999;
$text-size: 18px;

.search {
	background-color: #ffe600;
	display: flex;
	justify-content: center;
	padding: 15px;

	&__logo {
		margin-right: 20px;
	}

	&__input {
		border: none;
		color: $text-color;
		font-size: $text-size;
		padding: 10px;
		width: 70%;
	}

	&__input::placeholder {
		color: $text-color;
		font-size: $text-size
	}

	&-icon {
		align-items: center;
		background-color: #eeeeee;
		display: flex;
		justify-content: center;
		width: 40px;
	}
}

@media only screen and (max-width: 768px) {
	.search {
		margin-bottom: 16px;
	}
}
